---
import {slugify} from '/src/data/languages.ts'

export async function getStaticPaths() {
    let blog = await Astro.glob('/src/_projets/*-fr.md').filter(d => d.draft == false);
        
    //get a set of tags
    let tagSet = new Set();
    blog.forEach(p =>{
        p.tags.forEach(t => {
            tagSet.add(t)
        });
    });

    //for each tag, return a page with URL formed by tag (replacing spaces by "-")
    return Array.from(tagSet).map((tag: string) => {
        var selection = blog.filter(post => post.tags.includes(tag));
        return {
            params: { tag: slugify(tag) },
            props: {selection, tag} };
    });
}

import BaseLayout from '/src/layouts/BaseLayout.astro';
import ProjectPreview from '/src/components/ProjectPreview.astro';

const {selection, tag} = Astro.props
const currentPath = Astro.canonicalURL.pathname;
let retour = currentPath.replace('tags/','').replace(`${slugify(tag)}/`, '')


let title = `Projets`
let description = `Tri des projets avec le tag`
let permalink=`https://ouvroir.umontreal.ca/fr/projets/tags/${slugify(tag)}`

---  

<BaseLayout title={title} description={description} permalink={permalink} slug={tag}>
    
    <div class="container grid-xl">
    <div class="columns">
      <div class="col-12">
        <h1>{title}</h1>
        <p>{description} 
          <a href={retour}>
            <span class="chip">
              {tag}
              <span class="btn btn-clear" aria-label="Close" role="button"></span>
            </span>
          </a>
        </p>
      </div>
      <div class="col-9">
        {selection.map(s => <ProjectPreview post={s}></ProjectPreview>)}
      </div>
      <div class="col-3 tagColumn">
        <h2>Tags</h2>
        <a href={retour}>
          <div class="chip">
            {tag}
            <span class="btn btn-clear" aria-label="Close" role="button"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>


