---
import BaseLayout from '/src/layouts/BaseLayout.astro';
//comment rendre l'importation billingue? 
import {Content as Presentation} from '/src/_labouvroir/lab/presentation-fr.md'
import {Content as Financement} from  '/src/_labouvroir/lab/financement-fr.md'
import BlogPostPreview from '/src/components/BlogPostPreview.astro';
import ProjectCardPreview from '/src/components/ProjectCardPreview.astro';
import Logo from '/src/components/LogoFinancement.astro'
import {
    getLanguageFromURL,
    mapGenericToText
} from '/src/data/languages.ts';

const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

let title = "Ouvroir"
let slug = ""
let description = "Laboratoire d’histoire de l’art et de muséologie numériques"
let permalink = "https://ouvroir.umontreal.ca/"

let projects = await Astro.glob('/src/_labouvroir/projets/*-fr.md');

projects = projects.filter(d => d.frontmatter.draft == false); 
---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>


  <section class="columns">
    <div class="column toast">
      <button class="btn btn-clear float-right"/>
      <h2>{mapGenericToText["PRESENTATION"][lang]}</h2>
      
      <Presentation/>
    </div>
  </section>
  
  <!-- 
    <section class="columns">
      <h2 class="column col-12">Actualités</h2>
        {posts.map(p => <BlogPostPreview post={p}/>)}
    </section> -->

  <section class="columns">
    <h2 class="column col-12">{mapGenericToText["MENU_PROJETS"][lang]}</h2>
      {projects.map(p => <ProjectCardPreview post={p}/>)}
  </section>
  
  <section class="columns">
    <h2 class="column col-12">{mapGenericToText["CREDITS"][lang]}</h2><!-- je ne pense pas que ce soit le bon terme-->
    <div class="column col-12">   
      <Financement/>
    </div>  
  </section>

  <Logo/>

</BaseLayout>
