---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import ProjectPreview from '/src/components/ProjectPreview.astro'
import {slugify} from '/src/data/languages.ts'

let title = "Projets"
let slug ="projets"
let description = "Présentation de projets et de collaborations du laboratoire"
let permalink = "https://ouvroir.umontreal.ca/fr/projets/"
const currentPath = Astro.canonicalURL.pathname;


let projects = await Astro.glob('/src/_projets/*-fr.md')
projects = projects.filter(d => d.frontmatter.draft == false);

console.log(projects.length)

let tagSet = new Set();
let allTags = [];
projects.forEach(p =>{
  p.frontmatter.tags.forEach(t => {
    tagSet.add(t)
  });
});

for (let t of tagSet){
  allTags.push(t)
}
allTags = allTags.sort();


---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>

    <div class="container grid-xl">
      <div class="columns">
        <div class="col-12">
          <h1>{title}</h1>
          <p>{description}</p>
        </div>
        <div class="col-9">
            {projects.map(p => <ProjectPreview post={p}/>)}
        </div>
        <div class="col-3 tagColumn">
          <h2>Tags</h2>
          {allTags.map((t:string) => {
                return <div class="chip">
                  <a href={`${currentPath}tags/${slugify(t)}/`}>{t}</a>
                </div>
              }
          )} 
        </div>
      </div>
    </div>

  <!--

    ├─ Projets
      ├─ Projets mis en avant (categorie)
      ├─ Projets du laboratoire (categorie)
      └─ Collaborations / Projets en partenariat (categorie)

  -->  
</BaseLayout>

