---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

let title = "Services"
let slug = "services"
let description = "Services offerts, points de rencontre, équipement commun et code de conduite"
let permalink = "https://ouvroir.umontreal.ca/fr/services/"

let equipement = Astro.fetchContent('/src/_labouvroir/lab/equipement-fr.md');

---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
  
  
  <h1>{title}</h1>
  <p>{description}</p>

<!--
      <a href="#code">Code de conduite</a>
      <a href='#equipement'>Équipement</a>
    </nav>
-->     
  <section class="section">      
    <Markdown>
      ### Points de rencontre

      En attendant l’accès à nos locaux, vous pouvez prendre rendez-vous par [courriel](mailto:ouvroir@umontreal.ca) ou rejoindre le canal de discussion de l’équipe de l’Ouvroir en ligne sur [Element](https://matrix.to/#/!AaxspHhzNUgFJpDKTr:matrix.org?via=matrix.org). Cette plateforme de discussion peut être utilisée directement dans le navigateur ou en installant l’application.

      ### Liste de diffusion

      Vous pouvez vous abonner à la liste de diffusion de l'Ouvroir [ici](https://listes.umontreal.ca/wws/subscribe/ouvroir).
    </Markdown>
<!--
    <Fragment set:html={equipement.astro.html}>
    </Fragment>
-->

  </section>



<!--
  ├─ Services
    ├─ Services offerts
    ├─ Points de rencontre
    ├─ Équipements
    └─ Code de conduite
-->


</BaseLayout>