---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

let title = "Services"
let slug = "services"
let description = "Services offerts, points de rencontre, équipement commun et code de conduite"
let permalink = "https://ouvroir.umontreal.ca/fr/services/"

var lab = Astro.fetchContent('/src/_labouvroir/equipe/*-fr.md');

---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
  
  
  <h1>{title}</h1>
  <p>{description}</p>

<!--
      <a href="#code">Code de conduite</a>
      <a href='#equipement'>Équipement</a>
    </nav>
-->     
  <section class="section">      
    <Markdown>
      ## Points de rencontre

      En attendant l’accès à nos locaux, vous pouvez prendre rendez-vous par [courriel](mailto:lena.krause@umontreal.ca) ou rejoindre l’équipe de l’Ouvroir en ligne sur [Element](https://matrix.to/#/!AaxspHhzNUgFJpDKTr:matrix.org?via=matrix.org). Cette plateforme de discussion peut être utilisée directement dans le navigateur ou en installant l’application.


      --- 
      ## Services offerts

      Say cheese cheesy grin everyone loves. Cheese and wine halloumi rubber cheese cheddar boursin smelly cheese cut the cheese croque monsieur. Cheese triangles say cheese cheeseburger swiss babybel cheesy feet jarlsberg cheesecake. Mascarpone monterey jack camembert de normandie stinking bishop when the cheese comes out everybody's happy croque monsieur cheesy grin cheese on toast. Cheese strings mascarpone cheesecake.

    </Markdown>
  </section>



<!--
  ├─ Services
    ├─ Services offerts
    ├─ Points de rencontre
    ├─ Équipements
    └─ Code de conduite
-->


</BaseLayout>