---
import BaseLayout from '../../layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';
import BlogPostPreview from '../../components/BlogPostPreview.astro';
import ProjectCardPreview from '../../components/ProjectCardPreview.astro'

let title = "Ouvroir"
let slug = "home"
let description = "Laboratoire d'histoire de l'art et de muséologie numériques"
let permalink = "https://ouvroir.umontreal.ca/en/home"

let projects = Astro.fetchContent('../../data/en/projects/*.md');
let posts = Astro.fetchContent('../../data/en/blog/*.md');
---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>

  <div class="hero bg-gray">
    <div class="hero-body">
      <h1>{title}</h1>
      <p>{description}</p>
      <p><i>An inclusive and open-source space</i></p>
    </div>
  </div>


  <h2>Presentation</h2>
  <p>L’Ouvroir, laboratoire d’histoire de l’art et de muséologie numérique de l’Université de Montréal, est une infrastructure de recherche destinée à soutenir le travail conduit dans le cadre du Partenariat « Des nouveaux usages des collections dans les musées d’art ». Ce laboratoire fournit à l’ensemble de l’équipe un équipement de pointe pour mener la recherche mais aussi pour expérimenter et développer de nouveaux usages des collections numérisées qui utilisent le web, les techniques de visualisation 3D et la réalité virtuelle et augmentée. Il donne l’occasion de créer une infrastructure éditoriale solide pour l’Encyclopédie numérique et de produire trois développements informatiques qui seront mobilisés dans les différents axes de la recherche : d’abord avec la mise en place d’une plateforme collaborative de travail pour le travail sur les archives ; ensuite avec la création d’un outil numérique consacré à la documentation des accrochages de collections ; enfin, avec la création d’une librairie JavaScript destinée à faciliter la production et le déploiement de dispositifs d’expositions numériques et de l’illustration de l’Encyclopédie. C’est aussi une structure polyvalente qui permet de faciliter le travail collaboratif et l’organisation de téléréunions avec les partenaires muséaux et internationaux du projet. Sa création permet de doter le Canada d’un équipement de recherche dédié à l’expérimentation et le développement d’innovations dans le domaine de l’histoire de l’art et de la muséologie numérique.</p>

  <h2>Latest News</h2>
  {posts.map(p => <BlogPostPreview post={p}/>)}


  <h2>Projects</h2>
  <div class="container grid-xl" id="projectCards">
      <div class="columns">
        {projects.map(p => <ProjectCardPreview post={p}/>)}
      </div>
  </div>

  
  <h2>Credits</h2>
  <Markdown>
    L’Ouvroir bénéficie du soutien de l’[Université de Montréal](https://www.umontreal.ca/), du [Fonds Canadien pour l’Innovation](https://www.innovation.ca/) et du de la [province du Québec](https://www.economie.gouv.qc.ca/bibliotheques/programmes/aide-financiere/programme-de-soutien-aux-organismes-de-recherche-et-dinnovation-pso/cofinancement-du-gouvernement-du-quebec-aux-programmes-de-la-fondation-canadienne-pour-linnovation-fci/fonds-dinnovation/).   
  </Markdown>

          <!--
          <div class="container">
            <div class="columns">
              <div class="column col-lg-8">
                <img src={Astro.resolve('../../public/img/CFI/fr/CFI_RGB-FR.png')}>
              </div>
            </div>
          </div>    
            -->

  <!--

  ├─ Page d’accueil
    ├─ Tagline: (un espace) inclusif et ouvert
    ├─ Présentation courte [à propos] 
    ├─ Dernières actualités
    ├─ Liste des projets
    └─ Crédits - logo des financements - licence

  -->

</BaseLayout>

<style>
#projectCards{
  display: grid;
  grid-gap: 50px 50px
  
  }
</style>