---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';
import BlogPostPreview from '/src/components/BlogPostPreview.astro';
import ProjectCardPreview from '/src/components/ProjectCardPreview.astro';
import {
    getLanguageFromURL,
    mapGenericToText
} from '/src/data/languages.ts';

const currentPath = Astro.request.url.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

let title = "Ouvroir"
let slug = ""
let description = "Ouvroir, Digital Art History and Museology lab"
let permalink = "https://ouvroir.umontreal.ca/en/home"

let projects = Astro.fetchContent('/src/_projets/*-en.md');
let posts = Astro.fetchContent('/src/_blog/*-en.md');
---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>

  <div class="hero bg-gray">
    <div class="hero-body">
      <h1>{title}</h1>
      <p>{description}</p>
      <p><i>An inclusive and open-source space</i></p>
    </div>
  </div>


  <h2>Presentation</h2>
  <Markdown>
    L’**Ouvroir** is a Digital Art History and Museology lab at the Université de Montréal dedicated to support the work conducted within the framework of the Partnership “New Uses of Collections in Art Museums” ([CIÉCO](https://www.cieco.co)). This laboratory provides the entire team with state-of-the-art equipment to conduct research but also to experiment and develop new uses of digitized collections that use the web, 3D visualization techniques and virtual and augmented reality. It provides the opportunity to create a solid editorial infrastructure for the Digital Encyclopedia and to produce three computer developments that will be mobilized in the various axes of research: first with the establishment of a collaborative platform for work on the archives; secondly with the creation of a digital tool dedicated to the documentation of collection hangings; thirdly, with the creation of a JavaScript library designed to facilitate the production and deployment of digital exhibition devices and illustration of the Encyclopedia. It is also a versatile structure that facilitates collaborative work and the organization of teleconferences with the project’s museum and international partners. Its creation provides Canada with a research facility dedicated to the experimentation and development of innovations in the field of art history and digital museology.
  </Markdown>

  <h2>Latest News</h2>
  {posts.map(p => <BlogPostPreview post={p}/>)}


  <h2>Projects</h2>
  <div class="container grid-xl" id="projectCards">
      <div class="columns">
        {projects.map(p => <ProjectCardPreview post={p}/>)}
      </div>
  </div>

  
  <h2>Credits</h2>
  <Markdown>
    Ouvroir is supported by the [University of Montreal](https://www.umontreal.ca/), the [Canada Fund for Innovation](https://www.innovation.ca/) and the [Province of Quebec](https://www.economie.gouv.qc.ca/bibliotheques/programmes/aide-financiere/programme-de-soutien-aux-organismes-de-recherche-et-dinnovation-pso/cofinancement-du-gouvernement-du-quebec-aux-programmes-de-la-fondation-canadienne-pour-linnovation-fci/fonds-dinnovation/).   
  </Markdown>

  <div class="container">
    <div class="columns">
      <div class="column col-md-4 logo">
        <img src={Astro.resolve('/style/img/UdeM/Logo_UdeM-RVB.svg')} width="100%">
      </div>
      <div class="column col-md-4 logo">
        <img src={Astro.resolve('/style/img/CFI/fr/CFI_RGB-FR.png')} width="100%">
      </div>
      <div class="column col-md-4 logo">
        <img src={Astro.resolve('/style/img/qc/svg/QUEBEC_couleur.svg')} width="100%">
      </div>
    </div>
  </div>
<!--
  ├─ Page d’accueil
    ├─ Tagline: (un espace) inclusif et ouvert
    ├─ Présentation courte [à propos] 
    ├─ Dernières actualités
    ├─ Liste des projets
    └─ Crédits - logo des financements - licence

  -->

</BaseLayout>

<style>
#projectCards{
  display: grid;
  grid-gap: 50px 50px
  
  }
</style>