---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';
import {
    getLanguageFromURL,
    mapGenericToSlug
} from '/src/data/languages.ts';


let title = "Information"
let slug = "info"
let description = "About l’Ouvroir"
let permalink = "https://ouvroir.umontreal.ca/en/info/"

//var presentation = await fetch('https://raw.githubusercontent.com/ouvroir/labouvroir/main/README.md').then(res => res.text());

const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
    <h1>{title}</h1>
    <p>{description}</p>

    <div class="section">
        <h2>Laboratory presentation</h2>
        <Markdown>
            **L’Ouvroir** is a Digital Art History and Museology lab at the Université de Montréal dedicated to support the work conducted within the framework of the Partnership “New Uses of Collections in Art Museums” ([CIÉCO](https://www.cieco.co)). This laboratory provides the entire team with state-of-the-art equipment to conduct research but also to experiment and develop new uses of digitized collections that use the web, 3D visualization techniques and virtual and augmented reality. It provides the opportunity to create a solid editorial infrastructure for the Digital Encyclopedia and to produce three computer developments that will be mobilized in the various axes of research: first with the establishment of a collaborative platform for work on the archives; secondly with the creation of a digital tool dedicated to the documentation of collection hangings; thirdly, with the creation of a JavaScript library designed to facilitate the production and deployment of digital exhibition devices and illustration of the Encyclopedia. It is also a versatile structure that facilitates collaborative work and the organization of teleconferences with the project’s museum and international partners. Its creation provides Canada with a research facility dedicated to the experimentation and development of innovations in the field of art history and digital museology.
        </Markdown>
    </div>


    <h2>Team</h2>
    <ul>
        <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/emchateau`}>Emmanuel Château-Dutier</a> (scientific director)</li>
        <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/ktanton`}>Kristine Tanton</a> (scientific director)</li>
        <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/lenamk`}>Lena Krause</a> (lab manager)</li>
        <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/williamdiakite`}>William Diakité</a></li>
    </ul>
    
    <h2>Localisation</h2>
    <p>Université de Montréal: C-8130 et C-8132, Lionel-Groulx.</p>

    <h2>Funding</h2>
    <Markdown>
        Ouvroir is supported by the [University of Montreal](https://www.umontreal.ca/), the [Canada Fund for Innovation](https://www.innovation.ca/) and the [Province of Quebec](https://www.economie.gouv.qc.ca/bibliotheques/programmes/aide-financiere/programme-de-soutien-aux-organismes-de-recherche-et-dinnovation-pso/cofinancement-du-gouvernement-du-quebec-aux-programmes-de-la-fondation-canadienne-pour-linnovation-fci/fonds-dinnovation/).   
    </Markdown>

    <div class="container">
        <div class="columns">
        <div class="column col-md-4 logo">
            <img src='/style/img/UdeM/Logo_UdeM-RVB.svg' width="100%">
        </div>
        <div class="column col-md-4 logo">
            <img src='/style/img/CFI/fr/CFI_RGB-FR.png' width="100%">
        </div>
        <div class="column col-md-4 logo">
            <img src='/style/img/qc/svg/QUEBEC_couleur.svg' width="100%">
        </div>
        </div>
    </div>

</BaseLayout>

<style>
section{
    border-bottom: ;
}
</style>