---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import {Content as Presentation} from '/src/_labouvroir/lab/presentation-en.md'
import {Content as Financement} from  '/src/_labouvroir/lab/financement-en.md'
import Logo from '/src/components/LogoFinancement.astro'
import {
    getLanguageFromURL,
    mapGenericToSlug,
    mapGenericToText
} from '/src/data/languages.ts';


const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

let title = mapGenericToText["INFO"][lang]
let slug = "info"
let description = mapGenericToText["A_PROPOS"][lang]
let permalink = "https://ouvroir.umontreal.ca/fr/info/"

//récupère la liste des membres et filtre pour conserver les étudiant·e·s
let members = await Astro.glob(`/src/_labouvroir/equipe/*-en.md`);
let studentMembers = members.filter(d => d.frontmatter.status == "student")
let staffMembers = members.filter(d => d.frontmatter.status !== "student")

studentMembers.forEach(m => console.log("student ", m.frontmatter.firstname))
staffMembers.forEach(m => console.log("staff ", m.frontmatter.firstname))
---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
    <h1>{title}</h1>
    <p>{description}</p>

    <div class="section">
        <h2>{mapGenericToText["PRESENTATION_LAB"][lang]}</h2>
        <Presentation/>
    </div>


    <h2>{mapGenericToText["EQUIPE"][lang]}</h2>
    <h3>{mapGenericToText["STAFF"][lang]}</h3>
    <ul>
        {staffMembers.map(m => {
            let st = m.frontmatter.status.toUpperCase()
            let p = m.frontmatter.pronouns
            let slug = m.frontmatter.slug
            let name = m.frontmatter.firstname
            let lastname = m.frontmatter.lastname
            
            return <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/${slug}`}>{name} {lastname}</a>, {mapGenericToText[st][lang][p]}</li>
        })}
    </ul>

    <h3>{mapGenericToText["MEMBER"][lang]}</h3>
    <ul>
        {studentMembers.map(m => {
            let st = m.frontmatter.status.toUpperCase()
            let p = m.frontmatter.pronouns
            let slug = m.frontmatter.slug
            let name = m.frontmatter.firstname
            let lastname = m.frontmatter.lastname
            
            return <li><a href={`/${lang}/${mapGenericToSlug["LAB"][lang]}/${slug}`}>{name} {lastname}</a>, {mapGenericToText[st][lang][p]}</li>
        })}
    </ul>

    <h2>{mapGenericToText["LOCALISATION"][lang]}</h2>
    <p>Université de Montréal: C-8130 et C-8132, Pavillon Lionel-Groulx.</p>

    <h2>{mapGenericToText["FINANCEMENTS"][lang]}</h2>
    
    <Financement/>
    <Logo/>
        
</BaseLayout>

<style>
section{
    border-bottom: ;
}
</style>