---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import ProjectPreview from '/src/components/ProjectPreview.astro'
import {slugify} from '/src/data/languages.ts'

let title = "Projects"
let slug = "projects"
let description = "Introducing lab projects and collaborations"
let permalink = "https://ouvroir.umontreal.ca/en/projects/"
const currentPath = Astro.request.canonicalURL.pathname;

let projects = Astro.fetchContent('/src/_projets/*-en.md').filter(d => d.draft == false);
let tagSet = new Set();
let allTags = [];
projects.forEach(p =>{
  p.tags.forEach(t => {
    tagSet.add(t)
  });
});

for (let t of tagSet){
  allTags.push(t)
}
allTags = allTags.sort();


---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>

    <div class="container grid-xl">
      <div class="columns">
        <div class="col-12">
          <h1>{title}</h1>
          <p>{description}</p>
        </div>
          <div class="col-9">
              {projects.map(p => <ProjectPreview post={p}/>)}
          </div>
          <div class="col-3 tagColumn">
            <h2>Tags</h2>
            {allTags.map((t:string) => {
                return <div class="chip">
                  <a href={`${currentPath}tags/${slugify(t)}/`}>{t}</a>
                </div>
              }
            )} 
          </div>
        </div>
      </div>

  <!--

    ├─ Projets
      ├─ Projets mis en avant (categorie)
      ├─ Projets du laboratoire (categorie)
      └─ Collaborations / Projets en partenariat (categorie)

  -->  
</BaseLayout>

