---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

let title = "Services"
let slug = "services"
let description = "Facilities, meetups, tools and code of conduct"
let permalink = "https://ouvroir.umontreal.ca/en/services/"

---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
  
  
  <h1>{title}</h1>
  <p>{description}</p>

<!--
    <nav>
      <a href="#code">Code de conduite</a>
      <a href='#equipement'>Équipement</a>
    </nav>
-->     
  <section class="section">      
    <Markdown>      
      ### Meet ups

      While we wait for access to our physical lab, you can schedule an appointment per [email](mailto:ouvroir@umontreal.ca) or reach the Ouvroir team online using [Element](https://matrix.to/#/!AaxspHhzNUgFJpDKTr:matrix.org?via=matrix.org). This chat can be used directly in the browser or by installing the app.


      ### Mailing list
      
      Join our mailing list (in French) [here](https://listes.umontreal.ca/wws/subscribe/ouvroir).


    </Markdown>
  </section>


<!--

  ├─ Services
    ├─ Services offerts
    ├─ Points de rencontre
    ├─ Équipements
    └─ Code de conduite
-->


</BaseLayout>