---
import BaseLayout from '/src/layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';

let title = "Services"
let slug = "services"
let description = "Facilities, meetups, tools and code of conduct"
let permalink = "https://ouvroir.umontreal.ca/en/services/"

var lab = Astro.fetchContent('/src/_labouvroir/equipe/*-en.md');
---

<BaseLayout title={title} description={description} permalink={permalink} slug={slug}>
  
  
  <h1>{title}</h1>
  <p>{description}</p>

<!--
    <nav>
      <a href="#code">Code de conduite</a>
      <a href='#equipement'>Équipement</a>
    </nav>
-->     
  <section class="section">      
    <Markdown>
      ## Facilities
      
      ### Meet ups

      While we wait for access to our physical lab, you can schedule an appointment per [email](mailto:ouvroir@umontreal.ca) or reach the Ouvroir team online using [Element](https://matrix.to/#/!AaxspHhzNUgFJpDKTr:matrix.org?via=matrix.org). This chat can be used directly in the browser or by installing the app.

      --- 

      ## Available services
      Say cheese cheesy grin everyone loves. Cheese and wine halloumi rubber cheese cheddar boursin smelly cheese cut the cheese croque monsieur. Cheese triangles say cheese cheeseburger swiss babybel cheesy feet jarlsberg cheesecake. Mascarpone monterey jack camembert de normandie stinking bishop when the cheese comes out everybody's happy croque monsieur cheesy grin cheese on toast. Cheese strings mascarpone cheesecake.
    </Markdown>
  </section>

  {lab.forEach(c =>`<section>${c.content.html}</section>`)}

<!--

  ├─ Services
    ├─ Services offerts
    ├─ Points de rencontre
    ├─ Équipements
    └─ Code de conduite
-->


</BaseLayout>