---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostPreview from '../components/BlogPostPreview.astro'

let title = "Actualités"
let description = "Blogue, annonces, événements et lettre d'information du lab"
let permalink = "https://ouvroir.umontreal.ca/actualites"

interface MarkdownFrontmatter {
  publishDate: Date;
}
// Get all blog posts
let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');
allPosts = allPosts.sort((a, b) => (b.publishDate).valueOf() - (a.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container grid-xl">
    <div class="columns">
      <div class="col-2"><!--nav droite--></div>
      <div class="col-8">
        <h1>{title}</h1>
        <p>{description}</p>

          {allPosts.map(p => <BlogPostPreview post={p}/>)}
          <!-- en double pour avoir une page plus longue que la hauteur de l'écran-->
          {allPosts.map(p => <BlogPostPreview post={p}/>)}
      </div>
      <div class="col-2"><!-- nav gauche--></div>
    </div>
  </div>
</BaseLayout>
<!-- 
  à par catégorie selon tag
  ├─ Actualités
      ├─ Billets blogue
      ├─ Annonces / événements
      └─ Lettre d’information (v2)

-->