---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostPreview from '../components/BlogPostPreview.astro'

let title = "Actualités"
let description = "Blogue, annonces, événements et lettre d'information du lab"
let permalink = "https://ouvroir.umontreal.ca/actualites/"

interface MarkdownFrontmatter {
  publishDate: Date;
  tags: Array<string>
}
// Get all blog posts
let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');
allPosts = allPosts.sort((a, b) => (b.publishDate).valueOf() - (a.publishDate).valueOf());

let tagSet = new Set();
let allTags = [];
allPosts.forEach(p =>{
  p.tags.forEach(t => {
    tagSet.add(t)
  });
});

for (let t of tagSet){
  allTags.push(t)
}
allTags = allTags.sort();


---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="container grid-xl">
    <div class="columns">
      <div class="col-9">
        <h1>{title}</h1>
        <p>{description}</p>

          {allPosts.map(p => <BlogPostPreview post={p}/>)}
      </div>
      <div class="col-3" id="tagColumn">
            <h2>Tags</h2>
            {allTags.map(t => <div class="chip">{t}</div>)} 
          </div>
    </div>
  </div>
</BaseLayout>
<!-- 
  à par catégorie selon tag
  ├─ Actualités
      ├─ Billets blogue
      ├─ Annonces / événements
      └─ Lettre d’information (v2)

-->

<style>
#tagColumn {
  background-color: lightgray;
  padding-left: 1rem;
}
</style>