---
import BaseLayout from '../layouts/BaseLayout.astro';

let title = "Ouvroir"
let description = "Laboratoire d'histoire de l'art et de muséologie numérique"
let permalink = ""
---

<BaseLayout title={title} description={description} permalink={permalink}>
    <h1>{title}</h1>
    <p>{description}</p>


  <!--

  ├─ Page d’accueil
    ├─ Tagline: (un espace) inclusif et ouvert
    ├─ Présentation courte [à propos] 
    ├─ Dernières actualités
    ├─ Liste des projets
    └─ Crédits - logo des financements - licence

  -->

</BaseLayout>