---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Markdown} from 'astro/components';

let title = "Ouvroir"
let description = "Laboratoire d'histoire de l'art et de muséologie numérique"
let permalink = "https://ouvroir.umontreal.ca/"
---

<BaseLayout title={title} description={description} permalink={permalink}>

  <div class="hero bg-gray">
    <div class="hero-body">
        <h1>{title}</h1>
        <p>{description}</p>
        <p><i>Tagline</i></p>
    </div>
  </div>

  <div class="section">
    <h2></h2>
  </div>

  <div class="section">
    <h2>Présentation</h2>
  </div>

  <div class="section">
    <h2>Dernières actualités</h2>
  </div>

  <div class="section">
    <h2>Projets</h2>
  </div>

  <div class="section">
    <h2>Crédits</h2>
    <Markdown>
      L’Ouvroir bénéficie du soutien de l’[Université de Montréal](https://www.umontreal.ca/), du [Fonds Canadien pour l’Innovation](https://www.innovation.ca/) et du de la [province du Québec](https://www.economie.gouv.qc.ca/bibliotheques/programmes/aide-financiere/programme-de-soutien-aux-organismes-de-recherche-et-dinnovation-pso/cofinancement-du-gouvernement-du-quebec-aux-programmes-de-la-fondation-canadienne-pour-linnovation-fci/fonds-dinnovation/).   
    </Markdown>

    <!--
    <div class="container">
      <div class="columns">
        <div class="column col-lg-8">
          <img src={Astro.resolve('../../public/img/CFI/fr/CFI_RGB-FR.png')}>
        </div>
      </div>
    </div>
    
    -->
  </div>
  <!--

  ├─ Page d’accueil
    ├─ Tagline: (un espace) inclusif et ouvert
    ├─ Présentation courte [à propos] 
    ├─ Dernières actualités
    ├─ Liste des projets
    └─ Crédits - logo des financements - licence

  -->

</BaseLayout>