---
import {slugify} from '/src/data/languages.ts'
export async function getStaticPaths() {
    let blog = Astro.fetchContent('/src/_blog/*-fr.md');
    let cr = Astro.fetchContent('/src/_labouvroir/cr/*.md')
    let all = blog.concat(cr)
    //get a set of tags
    let tagSet = new Set();
    all.forEach(p =>{
        p.tags.forEach(t => {
            tagSet.add(t)
        });
    });

    //for each tag, return a page with URL formed by tag
    return Array.from(tagSet).map((tag) => {
        var selection = all.filter(post => post.tags.includes(tag));
        return {
            params: { tag: slugify(tag) },
            props: {selection, tag} };
    });
}

import BaseLayout from '/src/layouts/BaseLayout.astro';
import BlogPostPreview from '/src/components/BlogPostPreview.astro';

const {selection, tag} = Astro.props
const currentPath = Astro.canonicalURL.pathname;
let retour = currentPath.replace('tags/','').replace(`${slugify(tag)}/`, '')


let title = `Actualités`
let description = `Tri des actualités avec le tag`
let permalink=`https://ouvoir.umontreal.ca/fr/actualtes/tags/${tag}`

---  

<BaseLayout title={title} description={description} permalink={permalink} slug={tag}>
    
    <div class="container grid-xl">
    <div class="columns">
      <div class="col-12">
        <h1>{title}</h1>
        <p>{description} 
         <a href={retour}>
          <span class="chip">
            {tag}
            <span class="btn btn-clear" aria-label="Close" role="button"></span>
          </span>
          </a>
        </p>
      </div>
      <div class="col-9">
        {selection.map(s => <BlogPostPreview post={s}></BlogPostPreview>)}
      </div>
      <div class="col-3 tagColumn">
        <h2>Tags</h2>
        <a href={retour}>
          <div class="chip">
            {tag}
            <span class="btn btn-clear" aria-label="Close" role="button"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</BaseLayout>


