---
import {
    mapGenericToText,
    getLanguageFromURL
} from '/src/data/languages.ts';

export interface Props {
  title: string;
  description: string,
  author: string;
  publishDate: Date; /*why a string*/
  tags: Array<string>
}
var currentPath = Astro.request.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
const { title, author, description, publishDate, tags } = Astro.props;
let date = new Date(publishDate)
---
<div class="container">
    <article class="content">
        <header class="hero bg-gray">
            <div class="hero-body">
                <p>Actualités de l'Ouvroir</p>
                <h1>{title}</h1>
                <p>{description}</p>
                <p>{mapGenericToText["PUBLIE_LE"][lang]} {date.toString()} {mapGenericToText["PAR"][lang]} {author}</p>
                <p>{tags.map(t => <span class="chip">{t}</span>)}</p>
            </div>
        </header>
        <main>
            <slot />
        </main>
    </article>
</div>

<!-- Pour montrer la nav du texte: https://picturepan2.github.io/spectre/components/nav.html -->