---
import {
    mapGenericToText,
    getLanguageFromURL,
    formatDate
} from '/src/data/languages.ts';

var currentPath = Astro.request.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
const { title, author, description, date, tags } = Astro.props;
let fullDate = formatDate(date, lang)
---
<div class="container">
    <article class="content">
        <header class="hero bg-gray">
            <div class="hero-body">
                <p>Actualités de l'Ouvroir</p>
                <h1>{title}</h1>
                <p>{description}</p>
                <p>{mapGenericToText["PUBLIE_LE"][lang]} {fullDate} {mapGenericToText["PAR"][lang]} {author}</p>
                <p>{tags.map(t => <span class="chip">{t}</span>)}</p>
            </div>
        </header>
        <main>
            <slot />
        </main>
    </article>
</div>

<!-- Pour montrer la nav du texte: https://picturepan2.github.io/spectre/components/nav.html -->