---
export interface Props{
    post: any;
}

const { post } = Astro.props;
let tags = post.tags;
let date = new Date(post.publishDate)
---
<article class="section">
    <header>
        <a href={post.url}><h3 class="title">{post.title}</h3></a>
    </header>
    <p>{post.description}<br>{date.getDate()}.{date.getMonth()}.{date.getFullYear()}</p>
    <div>{tags.map(t => <span class="chip">{t}</span>)}</div>
    <a href={`${post.slug}`}>Lire la suite</a>
</article>

<style>

</style>