---
import {
    KNOWN_LANGUAGES, 
    getLanguageFromURL,
    mapGenericToSlug, 
    mapSlugToGeneric,
    mapGenericToText
} from '/src/data/languages.ts';

let languages = Object.keys(KNOWN_LANGUAGES);

const currentPath = Astro.request.url.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

---

<style>
.navbar a {
  font-weight: 800;
}
.nav-item {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.07rem;
  padding: 0.5rem;
}

.nav-item:hover {
  /*à définir color: var(--theme-accent); */
  color: error;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

#nav-logo {
    width: 12rem;
}
</style>

<header class="navbar">
  <section class="navbar-section">
    <a href={`/${lang}/`} class="navbar-brand mr-2"><span id="nav-logo">Ouvroir</span></a>
    <a class="nav-item" href={`/${lang}/${mapGenericToSlug["SERVICES"][lang]}/`}>{mapGenericToText["MENU_SERVICES"][lang]}</a>
    <a class="nav-item" href={`/${lang}/${mapGenericToSlug["PROJETS"][lang]}/`}>{mapGenericToText["MENU_PROJETS"][lang]}</a>
    <a class="nav-item" href={`/${lang}/${mapGenericToSlug["ACTUALITES"][lang]}/`}>{mapGenericToText["MENU_BLOG"][lang]}</a>
    </section>
    <section class="navbar-section">
        <a class="nav-item" href={`/${lang}/${mapGenericToSlug["INFO"][lang]}/`}><i class="fa fa-info-circle"></i></a>
        <div class="nav-item">
            {languages.map(l => {
            var newSlug = currentPath.split('/').map(p => {
                var currentLang = KNOWN_LANGUAGES[l]
                if (p == 'fr' || p =='en')
                return currentLang
                else {
                    var gen = mapSlugToGeneric[p];
                    var langSlug = mapGenericToSlug[gen][currentLang]
                    return langSlug
                    }
                }).join('/');

            return <a class="langChange" href={newSlug}>{KNOWN_LANGUAGES[l]}</a>
        })}
    </div>
  </section>
</header>