---
import {
    KNOWN_LANGUAGES, 
    getLanguageFromURL,
    mapGenericToSlug, 
    mapSlugToGeneric,
    mapGenericToText
} from '../data/languages.ts';

let languages = Object.keys(KNOWN_LANGUAGES);

const currentPath = Astro.request.url.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

const currentSlug = Astro.props.slug

const currentGeneric = mapSlugToGeneric[currentSlug]
---

<style>
    header {
        height: 4rem;
        padding-top: 1rem;   
        padding-bottom: 1rem;   

    }   

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-item {
        display: flex;
        flex-grow: 0;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        /*à définir color: var(--theme-text-lighter)*/
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .nav-item:hover {
       /*à définir color: var(--theme-accent); */
       color: red
    }
    
    #navlogo {
        width: 2rem;
        height: 2rem;
    }
</style>

<header>
    <nav class="navbar">    
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/`}>
                <img id="navlogo" src="/style/img/ouvroir.png">
                <span>Ouvroir</span>
            </a>
        </section>
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["SERVICES"][lang]}/`}>
                <span>{mapGenericToText["SERVICES"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["PROJETS"][lang]}/`}>
                <span>{mapGenericToText["PROJETS"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["BLOG"][lang]}/`}>
                <span>{mapGenericToText["BLOG"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["INFO"][lang]}/`}>
                <span><i class="fas fa-info-circle"></i></span>
            </a>
            <div class="nav-item">
                {languages.map(l => <a class="langChange" href={currentSlug ? `/${KNOWN_LANGUAGES[l]}/${mapGenericToSlug[currentGeneric][KNOWN_LANGUAGES[l]]}/` : `/${KNOWN_LANGUAGES[l]}/`}>{KNOWN_LANGUAGES[l]}</a>
                )}
            </div>
        </section>
    </nav>
</header>
