---
import {
    KNOWN_LANGUAGES, 
    getLanguageFromURL,
    mapGenericToSlug, 
    mapSlugToGeneric,
    mapGenericToText
} from '/src/data/languages.ts';

const currentPath = Astro.request.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

// définit comme ça, otherLang ne fonctionne que quand il y a 2 langues
// si plus, retourner à un sélecteur avec menu déroulant
var otherLang;
if (lang == 'fr')
    otherLang = 'en'
else if (lang == 'en' )
    otherLang = 'fr'
else 
    console.log('error in lang '+lang)
    
console.log(otherLang.toUpperCase())

var newSlug = currentPath.split('/').map(p => {
    if (p == 'fr' || p =='en')
        return otherLang
    else {
        var gen = mapSlugToGeneric[p];
        var langSlug = mapGenericToSlug[gen][otherLang]
        return langSlug
    }
}).join('/');


---

<style>
    header {
        height: 4rem;
        padding-top: 1rem;   
        padding-bottom: 1rem;   

    }   

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-item {
        display: flex;
        flex-grow: 0;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        /*à définir color: var(--theme-text-lighter)*/
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .nav-item:hover {
       /*à définir color: var(--theme-accent); */
       color: red
    }
    
    #navlogo {
        width: 2rem;
        height: 2rem;
    }
</style>

<header>
    <nav class="navbar">    
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/`}>
                <img id="navlogo" src="/style/img/ouvroir.png">
                <span>Ouvroir</span>
            </a>
        </section>
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["SERVICES"][lang]}/`}>
                <span>{mapGenericToText["MENU_SERVICES"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["PROJETS"][lang]}/`}>
                <span>{mapGenericToText["MENU_PROJETS"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["ACTUALITES"][lang]}/`}>
                <span>{mapGenericToText["MENU_BLOG"][lang]}</span>
            </a>

            <a class="nav-item" href={`/${lang}/${mapGenericToSlug["INFO"][lang]}/`}>
                <span><i class="fa fa-info-circle"></i></span>
            </a>
            <div class="nav-item">
            <a class="langChange" href={newSlug}>{otherLang.toUpperCase()}</a>
            <!--
                {languages.map(l => <a class="langChange" href={newSlug}>{KNOWN_LANGUAGES[l]}</a>
                })}
-->           </div>
        </section>
    </nav>
</header>
