---
import {KNOWN_LANGUAGES, getLanguageFromURL, getSlugFromURL } from '../data/languages.ts';
import Debug from 'astro/debug';

let languages = Object.keys(KNOWN_LANGUAGES);

const currentPath = Astro.request.url.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
const slug = currentPath && getSlugFromURL(currentPath);

/*Use dictionnary to translate nav items*/

console.log('tralalala')

const selectOnChange = (e) => {
    console.log('lalal');
    const newLang = e.target.value;
    window.location.pathname =`/en/news/`
}

const btn = `<button>salut</button>`


//`/${newLang}/${slug}/`
---



<style>
    header {
        height: 4rem;
        padding-top: 1rem;   
        padding-bottom: 1rem;   

    }   

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .nav-item {
        display: flex;
        flex-grow: 0;
        gap: 0.5em;
        align-items: center;
        justify-content: center;
        /*à définir color: var(--theme-text-lighter)*/
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .nav-item:hover {
       /*à définir color: var(--theme-accent); */
       color: red
    }
    
    #navlogo {
        width: 2rem;
        height: 2rem;
    }
</style>

<header>
    <nav class="navbar">
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/`}>
                <img id="navlogo" src="/style/img/ouvroir.png">
                <span>Ouvroir</span>
            </a>
        </section>
        <section class="navbar-section">
            <a class="nav-item" href={`/${lang}/services/`}>
                <span>Services</span>
            </a>

            <a class="nav-item" href={`/${lang}/projets/`}>
                <span>Projets</span>
            </a>

            <a class="nav-item" href={`/${lang}/actualites/`}>
                <span>Actualité</span>
            </a>

            <a class="nav-item" href={`/${lang}/info/`}>
                <span>i</span>
            </a>
            <div class="nav-item" client:only>
                <select id="language-select" onChange={selectOnChange}>
                    {languages.map(l => <option key={l} value={KNOWN_LANGUAGES[l]}>{l}</option>)}
                </select>  
            </div>
        </section>
    </nav>
    <!--<div class="btn-group btn-group-block" client:only>
        <button class="btn">Français</button>
        <button class="btn">English</button>
    </div> -->
                    <!-- <button id="test-btn" onClick={() => console.log('Je suis un boutton')}>Click Me</button>-->
</header>

<!-- 

    window.location.pathname error: devrait recharger la page mais ne le fait pas

    on Changement de langue: 
    - get the right slug -> use slugmap to identify the slug
    - redirection (requiert de le créer dans les deux sens, si on change juste la langue dans l'url)

-->
