---
export interface Props {
  title: string,
  description: string,
  since: Date,
  tags: Array<string>,
  link: string
}

const { title, description, since, tags, link } = Astro.props;
---
<div class="container">
    <article class="content">
        <header class="hero bg-gray">
            <div class="hero-body">
                <h1>{title}</h1>
                <p>{description}, {since}</p>
                <p>{tags.map(t => <span class="chip">{t}</span>)}</p>
                <a href={link} target="_blank">Consulter le projet</a>
            </div>
        </header>
        <main>
            <slot />
        </main>
    </article>
</div>
