---
import {
    getLanguageFromURL,
    mapGenericToSlug
} from '/src/data/languages.ts'

export interface Props{
    post: any;
}

const { post } = Astro.props;
let tags = post.tags

const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

const link = `${mapGenericToSlug["PROJETS"][lang]}/${post.slug}/`
---
<div class="column col-4 col-md-6 col-xs-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title h5"><a href={link}>{post.title}</a></div>
        </div>
        <div class="card-body">{post.description}</div>
        <div class="card-footer">
            <div>{tags.map(t => <span class="chip">{t}</span>)}</div>
            <a href={link}>Lire la suite</a>
        </div>
    </div>

</div>
