---
export interface Props{
    post: any;
}

const { post } = Astro.props;
let tags = post.tags
---
<div class="card col-4">
    <div class="card-image">
        <img class="img-responsive" src="/style/img/pattern.svg">
    </div>
    <div class="card-header">
        <div class="card-title h5"><a href={post.url}>{post.title}</a></div>
        <div class="card-subtitle">{post.description}</div>
    </div>
    <div class="card-footer">
        <div>{tags.map(t => <span class="chip">{t}</span>)}</div>
        <a href={post.url}>Lire la suite</a>
    </div>

</div>

<style>


.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.card-image{
    grid-area: header;
}

.card-header{
    grid-area: main;
}
.card-footer{
    grid-area: footer;
}
</style>

