---
import {
    getLanguageFromURL,
    mapGenericToSlug
} from '/src/data/languages.ts'

export interface Props{
    post: any;
}

const { post } = Astro.props;
let tags = post.tags

const currentPath = Astro.request.url.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

const link = `${mapGenericToSlug["PROJETS"][lang]}/${post.slug}/`
---
<div class="card col-4">
    <div class="card-image">
        <a href={link}><img class="img-responsive" src="/style/img/pattern.svg"></a>
    </div>
    <div class="card-header">
        <div class="card-title h5"><a href={link}>{post.title}</a></div>
        <div class="card-subtitle">{post.description}</div>
    </div>
    <div class="card-footer">
        <div>{tags.map(t => <span class="chip">{t}</span>)}</div>
        <a href={link}>Lire la suite</a>
    </div>

</div>

<style>


.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 15px;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

.card-image{
    grid-area: header;
}

.card-header{
    grid-area: main;
}
.card-footer{
    grid-area: footer;
}
</style>

