---
import {mapGenericToText, getLanguageFromURL} from '/src/data/languages.ts';
import ProjectCardPreview from '/src/components/ProjectCardPreview.astro' 
export interface Props {
  firstname: string,
  lastname: string,
  username: string,
  description: string,
  tags: Array<string>,
  link: string,
  mail: string,
  permalink: string,
  slug: string
}
const currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

const { firstname, lastname, username, description, tags, link, mail, permalink, slug} = Astro.props;

var projects = await Astro.glob('/src/_projets/*.md')

var relevantProjects = projects.filter(p => p.frontmatter.lang == lang).filter(p => p.frontmatter.team.includes(username))
---
<div class="container">
    <article class="content">
        <header class="hero bg-gray">
            <div class="hero-body">
                <div class="columns">
                    <div class="col-3">
                        <img src="/style/img/ouvroir-roue.svg">
                    </div>
                    <div class="col-9">
                        <h2>{firstname} {lastname}</h2>
                        <p>{description} <br>
                        </p>
                    </div>
                </div>  
                <br>
                <div class="columns"> 
                    <div class="col-3">
                        <p style="text-align: center;">
                            <a href={link} target="_blank">{mapGenericToText["SITE_WEB"][lang]}</a>
                            <br>
                            <span id="courriel">contact</span>
                        </p>
                    </div>
                        
                    <div class="col-9">
                        {tags.map(t => <span class="chip">{t}</span>)}
                    </div>
                </div>                
            </div>
        </header>
        <main>
            <slot />
        </main>
        <div>
            <h3>{mapGenericToText["MENU_PROJETS"][lang]}</h3>
            <div class="container grid-xl" id="projectCards">
                <div class="columns">
                    {relevantProjects.map(p => <ProjectCardPreview post={p}/>)}
                </div>
            </div>
        </div>
    </article>
</div>

<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

</style>