---
import MetaData from '../components/MetaData.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { getLanguageFromURL } from '../data/languages.ts'

const {title, description, permalink, slug} = Astro.props;

const currentPath = Astro.request.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);

---
<html lang={lang} prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
  <head>
    <MetaData title={title} description={description} permalink={permalink}/>
  </head>
  <body>
    <div id="app" class="container">
      <Header slug={slug}/>
      <main>
        <div class="container">
          <div class="columns">
            <div class="column col-10 col-mx-auto"> <!-- not fully responsive, need to deal with mobile view-->
              <slot />
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
#app {
  height: 100vh;
  
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: header;
}

#app > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

#app > footer {
  grid-area: footer;
}
</style>