---
import MetaData from '../components/MetaData.astro'
import Header from '../components/Header.astro'
import BlogPost from '../components/BlogPost.astro'
import Footer from '../components/Footer.astro'
import {
    mapGenericToText,
    getLanguageFromURL
} from '/src/data/languages.ts';

var currentPath = Astro.request.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
const {content} = Astro.props;
const {title, description, author, date, tags, permalink, slug} = content;
---
<html lang={lang} prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
  <head>
    <MetaData title={title} description={description} permalink={permalink}/>
    <!-- change for Blog metadata component, type: blog-->
  </head>
  <body>
    <div class="container grid-xl">
          <div class="columns">
            <div class="col-1"><!--nav gauche--></div>
            <div class="col-10">
              <div id="app" class="container grid-xl">

                <Header slug={slug}/>

                <BlogPost title={title} author={author} date={date} description={description} tags={tags}>
                    <slot />
                </BlogPost>
                
                <Footer />
              </div>
            </div>
            <div class="col-1"><!--nav droite--></div>
          </div>
        </div>

  </body>
</html>