---
import MetaData from '../components/MetaData.astro'
import Header from '../components/Header.astro'
import BlogPost from '../components/BlogPost.astro'
import Footer from '../components/Footer.astro'
import {
    mapGenericToText,
    getLanguageFromURL
} from '/src/data/languages.ts';

var currentPath = Astro.canonicalURL.pathname;
const lang = currentPath && getLanguageFromURL(currentPath);
const {content} = Astro.props;
console.log(content)
const {title, description, author, date, tags, permalink, slug} = content.frontmatter;
console.log('blogLayout', title)
---
<html lang={lang} prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
  <head>
    <MetaData title={title} description={description}/>
    <!-- change for Blog metadata component, type: blog-->
  </head>
  <body>
     <div id="app">

        <Header slug={slug}/>
        <main class="container grid-xl">
          <BlogPost title={title} author={author} date={date} description={description} tags={tags}>
            <slot />
          </BlogPost>
        </main>

        <Footer />
    </div>

  </body>
</html>