---
import MetaData from '../components/MetaData.astro'
import Header from '../components/Header.astro'
import Project from '../components/Project.astro'

const {content} = Astro.props;
const {title, description, since, tags, permalink, url, slug, lang} = content;

export async function getStaticPaths() {
  let projects = Astro.fetchContent('./*.md');

  return projects.map(p => ({params: { slug: p.slug } }) )

}
---
<html lang={lang} prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article#">
  <head>
    <MetaData title={title} description={description} permalink={permalink}/>
    <!-- change for Blog metadata component, type: blog-->
  </head>
  <body>
    <Header/>
    <Project title={title} since={since} description={description} tags={tags} url={url}>
        <slot />
    </Project>
  </body>
</html>